$bgcolor:red;
$color:yellow;
$fontsize:25px !global;
h2 {
    background-color: $bgcolor;
    $color: blue;
    color: $color;
    $fontsize: 30px;
    font-size: $fontsize;
}

p {
    $bgcolor: magenta !global;
    background-color: $bgcolor;
    color: $color;
    font-size: $fontsize;
}

h2 {
    background-color: $bgcolor;
}